body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

a{
  color:#eb1c24;
}

.btn-primary {
    color: #fff;
    background-color: #eb1c24;
    border-color: #eb1c24;
}

.right-nav li {
  font-size:24px;
}

.bg-inverse{
  background-color: #000!important;
}

.navbar {
  margin-bottom: 0;
  min-height: 64px;
}

h4{
  font-size: 1.3rem;
  font-weight: bold;
}
.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: #000;
  color: #ccc;
  border-radius: 0px;
}
.bklogo {
  max-width: 400px;
  width: 100%;
}

section {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  border-top: 66px solid transparent;
  margin: -30px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

section:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  border-top: 2px solid transparent;
}

section p {
  text-align: justify;
}

#roadmap p {
  text-align: center;
}

#stats{
  padding: 30px;
  background-color: #f7f7f7;
  
}

#blog{
  padding: 30px;
  background-color: #f7f7f7;
}


#translations{
  padding: 30px;
  background-color: #f7f7f7;
  
}

#stats .fa{
  font-size: 40px;
}

#stats .counter{
  display: block;
  font-size: 43px;
  font-weight: 900;
  line-height: 1;
  margin: 15px 0 0;
}

#stats em{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  font-style: normal;
}

.stats-row .col-md-3, .stats-row .col-sm-6 {
  padding: 15px;
}

#games-album {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

#roadmap{
  background-color: #f7f7f7;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Presale contribution */
#presale {
  border-top-width: 30px;
  background-color: #000;
  color: #fff;
}

.presale-currency {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.presale-currency img {
  height: 40px;
  margin-right: 10px;
}

.presale-currency__data {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.presale-currency__data__amount {
  color: #eb1c24;
  font-weight: bold;
}

#presale-total {
    font-size: 22px;
    font-weight: bold;
}
